{% extends 'base/model.html' %}
{% load bootstrap %}

{% block content %}

<div class="container ">

    <div class="col-md-7 mt-3">
        <h3 class="fs-3 mt-4"> CADASTRAR FUNCIONARIO </h3>

        <div>
                <form action="" method="post">
                    {% csrf_token %}
                    
                    {{form|bootstrap}}
                    

                    <button type="submit" class="btn btn-outline-primary mt-2"  >Cadastrar </button>
                </form>

        </div>


    </div>



</div>



{% endblock %}